{
  "extends": "google",
  "parser": "babel-eslint",
  "rules": {
    "strict": 0,
    "require-jsdoc": [2, {
      "require": {
          "FunctionDeclaration": false,
          "MethodDefinition": false,
          "ClassDeclaration": false
      }
    }],
    "max-len": 0
  },
  "env": {
    "mocha": true
  }
}